:root {
    --dark-blue: #1F2937;
    --whitish: #F9FAF8;
    --blueish: #3882F6;
}
* {
    scroll-behavior: smooth;
}
header {
    background-color: var(--dark-blue);
    color: var(--whitish);
}

/*Header Section 1 (Navbar)*/

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--dark-blue);
}
nav {
    display:flex;
    
}
.logo {
    height: 60px;
}

.nav-links {
    display: flex;
    gap: 30px;
    padding-top: 6px;
    padding-left: 700px;
}
  
ul li {
    list-style-type: none;
}
.links {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--whitish);
    
}
.links:hover {
    background-color: var(--whitish);
    color: var(--dark-blue);
    border-radius: 10%;
}

footer {
    background-color: var(--dark-blue);
    color: var(--whitish);
    text-align:center;
    padding: 10px;
}

/*Header Section 2*/

.section2 {
    display:flex;
    padding-top: 75px;
    padding-bottom: 60px;
    padding-left: 50px;
    
    
}
.section2-title {
    
    width: 50%;
}
.header-title {
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    color: var(--whitish);
    font-weight: bold;
    margin-left: 25px;
}
.header-title-paragraph {
    font-size: 18px;
    font-family: Verdana, sans-serif;
    color: var(--whitish);
    font-weight: normal;
    
}
.header-image {
    
    width: 50%;
}
.flowers {
    width: 400px;
}
.button {
    background-color: var(--blueish);
    color: var(--whitish);
    border-radius: 15%;
    border-style: none;
    padding: 10px;
    width: 150px;
    font-weight: bold;
    font-size: large;
}
.button:hover {
    background-color: var(--whitish);
    color: var(--blueish);
    border-radius: 15%;
    padding: 10px;
}
/*main*/
/*main1 */
.main1-title {
    font-family: Helvetica, sans-serif;
    font-size: 28px;
    color: var(--dark-blue);
    text-align: center;
}
.flower-images {
    display: flex;
    padding: 0px 100px 100px 200px;
    gap: 25px;
}
.flower1, .flower2, .flower3, .flower4 {
    border: 4px solid var(--blueish);
    width: 200px;
    height: 200px;
    border-radius: 20%;
    align-items: center;
    flex: auto;
}
.adjectives {
    font-style: italic;
    font-family: sans-serif, Verdana;
    color: var(--dark-blue);
    text-align:center;
    font-size: 20px;
    font-weight: bold;
}

/*main2*/
.main2 {
    background-color: #E5E7EB;
    padding: 30px 250px 30px 250px;
}
.main2-text {
    font-family: Verdana;
    font-style: italic;
    color: var(--dark-blue);
    font-size: 36px;
    font-weight: normal;
    text-align: justify; 
}
.main2-author {
    
    text-align: right;
    color: var(--dark-blue);
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif, Verdana;
}

/*main3 */
.main3 {
    
}
.main3-rectangle {
    background-color: var(--blueish);
    border-radius: 2%;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 300px;
    margin: 100px;
    padding-top: 15px;
    padding-bottom: 50px;
}
.main3-title {
    color: var(--whitish);
    text-align: left;
    font-family: sans-serif;
}
.main3-text {
    color: (--whitish);
    text-align:left;
    font-family: sans-serif;
    
}
.button2 {
    color: var(--whitish);
    background-color: var(--blueish);
    border: 2px solid var(--whitish);
    padding: 10px;
    border-radius: 15%;
    margin-top: 50px;
    width: 150px;
    font-weight: bold;
    font-size: large;
}
.button2:hover {
    color: var(--blueish);
    background-color: var(--whitish);
    border: 2px solid var(--blueish);
    padding: 10px;
    border-radius: 15%;
}

